.myHeader1 {
	color: white;

	background-color: orange;
	border-style: solid;
	border-color: orange;
	border-width: 30px;

	text-align: center;
	letter-spacing: 2px;

	font-family: "Open Sans";
	font-size: 2em;
	font-weight: bolder;
	font-variant: small-caps;

}

.headerSeparator {
	background-color: white;
	padding: 2px;
}

body {
	margin: 0;
	padding: 0;
}



.navigation_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: lightgray;
}

.navigation_bar_items {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.navigation_bar_items:hover {
  background-color: #555;
  color: white;
}

.home_body {
	display: flex;
}

.side_nav_bar {
	width: 150px;
}

.item_area {
	display: flex;
	flex-wrap: wrap;
}

.item {
	background-color: white;
	margin: 25px;
	width: 200px;
	height: 300px;
	border-color: black;
	border-style: solid;
	transition: transform .3s;
	position: relative;
}
.item:hover {
	transform: scale(1.3);
}

.item_image {
	object-fit: contain;
	max-width: 200px;
	max-height: 200px;
}
.item_name {
	position: absolute;
	bottom: 72px;
	font-size: 1.3em;
}
.item_original_price {
	position: absolute;
	bottom: 48px;
	font-size: 1.2em;
}
.item_discount_price {
	position: absolute;
	bottom: 16px;
	font-size: 2em;
	font-weight: bolder;
}

.item_add_to_cart {
	position: absolute;
	bottom: 0;
	left: 60px;
}

.cart_area {
	text-align: center;
	border-color: black;
	border-style: solid;
}
.cart_summary {
	text-align: center;
	border-color: black;
	border-style: solid;
}

.cart_item_area {
	text-align: center;
	border-color: black;
	border-style: solid;

}

table, tr, td{
	padding: 2px;
	border-color:black;
	border-style:solid;
	margin: 5px;
}



.checkout_body {
	background-color: lightgray;
	border-radius: 8px;
	padding: 20px;
	margin:10px 130px 0 130px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	border-color: #F1EEEE;
	border-style:solid;
}
.checkout_body_header {
	display: block;
	background-color: #6960E2;
	padding: 10px;
	width: 200px;
	color: white;
	margin-left: 50px;
	margin-top: 20px;
	white-space: nowrap;
	border-radius: 5px;
	font-size: 1.3em;
	font-family: "Tahoma";
}

.name_class {
	width: 600px;
	margin-left: 50px; 
	margin-top: 20px;
	padding: 12px 20px;
	border-radius: 5px;
}

.name_radio_button {
	margin-left: 50px; 
	margin-top: 20px;
	padding: 12px 20px;
	font-family: "Sans Serif";
	font-size: 2em;
}

